.circular_progressbar {
  &.default {
    position: absolute;
    top: -19px;
    left: 10px;
    width: 35px;
  }

  &.full {
    top: 0;
    left: 0;
    width: 68px;
  }

  .CircularProgressbar-text {
    font-size: 30px;
  }
}