@font-face {
  font-family: "Source Sans Pro";
  src: url(./fonts/source-sans-pro-regular.woff2) format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(./fonts/source-sans-pro-300.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(./fonts/source-sans-pro-600.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(./fonts/source-sans-pro-700.woff2) format('woff2');
  font-weight: 700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  color: black;
}

.column_wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.content_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}